@import "../utils/variables";
@import "../utils/mixins";

.pageError404 {
  @include font;
  color: $third_color;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 139px;
  margin: 139px auto 139px;

  h1 {
    font-size: 18em;
    font-weight: 700;
  }
  p {
    font-size: 2.25em;
    font-weight: 500;
  }
  a {
    @include font;
    color: $third_color;
    font-weight: 500;
    font-size: 0.96em;
    transition: all 250ms ease-in-out;

    &:hover {
      font-weight: 600;
    }
  }
}
