@import "../utils/variables";
@import "../utils/mixins";

.homeBanner {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 43px;

  img {
    width: 100%;
    max-width: 1240px;
    height: 223px;
    border-radius: 25px;
    filter: brightness(60%);
  }
  h1 {
    color: $primary_color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    @include font;
    font-size: 3em;
    width: 100%;
    text-align: center;
  }
}
